<a href="https://colab.research.google.com/github/sreesanthrnair/My_Activity/blob/main/case_study_on_statics_sreesanth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#  1. Dataset: Monthly temperatures in a city (in °C): 12, 15, 14, 16, 18, 20, 22, 19,17, 15, 13, 10
#Questions:
# a) Calculate the mean temperature.
# b) Calculate the median temperature.
# c) Find the mode of the temperature data.
# d) Range and Variance

In [19]:
# a
temperature=[12, 15, 14, 16, 18, 20, 22, 19,17, 15, 13, 10]
mean=sum(temperature)/len(temperature)
print(f'Mean Temperature is {mean:.2f}°C')

Mean Temperature is 15.92°C

In [20]:
# b
temperature=[12, 15, 14, 16, 18, 20, 22, 19,17, 15, 13, 10]
temperature.sort()
length=len(temperature)
median=(temperature[length//2]+temperature[length//2-1])/2
print(f'Median Temperature is {median:.2f}°C')

Median Temperature is 15.50°C

In [21]:
# c
temperature=[12, 15, 14, 16, 18, 20, 22, 19,17, 15, 13, 10]
lst=set(temperature)
mode=0
mode_count=0
for i in lst:
     max_count=temperature.count(i)
     if(max_count>mode_count):
        mode=i
        mode_count=max_count
print(mode)

15

In [22]:
# d
# Range
temperature=[12, 15, 14, 16, 18, 20, 22, 19,17, 15, 13, 10]
range=max(temperature)-min(temperature)
print(f'Range is {range}')

# Variance
mean=sum(temperature)/len(temperature)
variance=0
for i in temperature:
  variance=variance+(i-mean)**2
variance=variance/len(temperature)
print(variance)

Range is 12
11.076388888888888

In [23]:
#  2. Dataset: Heights of students (in cm): 150, 160, 165, 170, 155, 160, 162, 168
#  a) Calculate the range of the heights.
#  b) Calculate the variance of the heights.
#  c) Standard Deviation

In [24]:
# a
temperature=[150, 160, 165, 170, 155, 160, 162, 168]
range=max(temperature)-min(temperature)
print(f'Range is {range}')

Range is 20

In [25]:
# b
mean=sum(temperature)/len(temperature)
variance=0
for i in temperature:
  variance=variance+(i-mean)**2
variance=variance/len(temperature)
print(variance)

38.1875

In [26]:
# c
sd=variance**0.5
print(sd)

6.179603547154137

In [27]:
#  3. Dataset: Weekly expenses (in $): 200, 250, 300, 220, 270, 290, 310
#  Questions: a) Calculate the standard deviation of the weekly expenses.

In [28]:

expenses=[200, 250, 300, 220, 270, 290, 310]
mean=sum(expenses)/len(expenses)
variance=0
for i in expenses:
  variance=variance+(i-mean)**2
variance=variance/len(expenses)
print (f'{variance**0.5 :.2f}')

38.44

In [29]:
# 4. Dataset: Advertising Spending (in $1000s): 10, 20, 15, 25, 30; Sales (in
#  $1000s): 100, 150, 120, 180, 200
#  Questions: a) Calculate the covariance between advertising spending and sales.
#  b) Correlation

In [30]:

import statistics as s
adSpend=[10, 20, 15, 25, 30]
sales=[100, 150, 120, 180, 200]

print(s.covariance(adSpend,sales))
print(s.correlation(adSpend,sales))

325.0
0.9970544855015816

In [31]:
# 5. Dataset: Study Hours: 2, 4, 6, 8, 10; Exam Scores: 55, 60, 65, 70, 75
#  Questions: a) Calculate the correlation coefficient between study hours and exam
#  scores.
#  b) Interpret the result.
#  c) Quartiles and IQR

In [32]:

hours = [2, 4, 6, 8, 10]
scores = [55, 60, 65, 70, 75]

# Step 1: Means
mean_x = sum(hours) / len(hours)
mean_y = sum(scores) / len(scores)

# Step 2: Numerator and denominator parts
num = sum((x - mean_x) * (y - mean_y)for x, y in zip(hours, scores))

den_x = sum((x - mean_x) ** 2 for x in hours)
den_y = sum((y - mean_y) ** 2 for y in scores)

# Step 3: Correlation coefficient
r = num / ((den_x * den_y) ** 0.5)
print("Correlation Coefficient:", r)

Correlation Coefficient: 1.0

In [33]:
print('r = 1.0 means perfect positive correlation. \nAs study hours increase, exam scores also increase linearly. \nThe relationship is direct and very strong')

r = 1.0 means perfect positive correlation.
As study hours increase, exam scores also increase linearly.
The relationship is direct and very strong

In [34]:
def quartiles(lst):
  lst.sort()
  fq = 0.25
  sq = 0.5
  tq = 0.75
  lst_length = len(lst)

  q1_ind = int(lst_length * fq)
  q2_ind = int(lst_length * sq)
  q3_ind = int(lst_length * tq)

  return [lst[q1_ind], lst[q2_ind], lst[q3_ind]]

quartiles_study_hrs = quartiles(hours)
quartiles_exam_scores = quartiles(scores)

print('Study Hours: \n')
print(f'Q1: {quartiles_study_hrs[0]}, Q2: {quartiles_study_hrs[1]}, Q3: {quartiles_study_hrs[2]}')
print(f'IQR: {quartiles_study_hrs[2] - quartiles_study_hrs[0]}\n')

print('Exam Scores: \n')
print(f'Q1: {quartiles_exam_scores[0]}, Q2: {quartiles_exam_scores[1]}, Q3: {quartiles_exam_scores[2]}')
print(f'IQR: {quartiles_exam_scores[2] - quartiles_exam_scores[0]}')

Study Hours:

Q1: 4, Q2: 6, Q3: 8
IQR: 4

Exam Scores:

Q1: 60, Q2: 65, Q3: 70
IQR: 10

In [35]:
#  6. Dataset: Monthly savings (in $): 200, 300, 400, 500, 600, 700, 800, 900, 1000,
#  1100 Questions: a) Calculate the first quartile (Q1) and third quartile (Q3).
#  b) Calculate the interquartile range (IQR).
#  c) Detecting Outliers

In [36]:

def quartiles(lst):
  lst.sort()
  fq = 0.25
  sq = 0.5
  tq = 0.75
  lst_length = len(lst)

  q1_ind = int(lst_length * fq)
  q2_ind = int(lst_length * sq)
  q3_ind = int(lst_length * tq)

  return [lst[q1_ind], lst[q2_ind], lst[q3_ind]]



savings=[200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100]
q=quartiles(savings)
print(f'q1 : {q[0]}, q2 : {q[1]}, q3 : {q[2]}')
print(f'IQR : {q[2]-q[0]}')



q1=q[0]
q3=q[2]
iqr=q3-q1
lower_bound=q1-(iqr*1.5)
upper_bound=q3+(iqr*1.5)


outliers=[]
for i in savings:
  if(i<lower_bound) or (i>upper_bound):
    outliers.append(i)


print(f'Outliers : {outliers}')

q1 : 400, q2 : 700, q3 : 900
IQR : 500
Outliers : []

In [37]:
#  7. Dataset: Ages of employees: 22, 25, 28, 30, 35, 40, 45, 50, 55, 100
#  Questions: a) Identify any outliers using the IQR method.

In [38]:

def quartiles(lst):
  lst.sort()
  fq = 0.25
  sq = 0.5
  tq = 0.75
  lst_length = len(lst)

  q1_ind = int(lst_length * fq)
  q2_ind = int(lst_length * sq)
  q3_ind = int(lst_length * tq)

  return [lst[q1_ind], lst[q2_ind], lst[q3_ind]]



ages=[22, 25, 28, 30, 35, 40, 45, 50, 55, 100]
q=quartiles(ages)



q1=q[0]
q3=q[2]
iqr=q3-q1
lower_bound=q1-(iqr*1.5)
upper_bound=q3+(iqr*1.5)


outliers=[]
for i in ages:
  if(i<lower_bound) or (i>upper_bound):
    outliers.append(i)


print(f'Outliers : {outliers}')

Outliers : [100]

In [39]:
# 8. Dataset: Observed frequencies of customer preferences for three products:
# Product A: 50, 55, 60
#  Product B: 30, 25, 35
#  Product C: 20, 20, 25
#  Questions:
# a) Perform a chi-square test to determine if there is a significant difference in customer preferences among the three products.
# b) Hypothesis Testing

In [40]:
from scipy import stats

prod_a = [50, 55, 60]
prod_b = [30, 25, 35]
prod_c = [20, 20, 25]

chi2_stat, p_value, dof, expected = stats.chi2_contingency([prod_a, prod_b, prod_c])
print(f"Chi-square statistic: {chi2_stat:.3f}")
print(f"P-value: {p_value:.3f}")
print(f"Degrees of freedom: {dof}")
print("Expected frequencies table:")

if p_value < 0.05:
  print('There is significant statistical evidence, Null hypothesis is rejected')
else:
  print('There is no significant statistical evidence, We fail to reject null hypothesis')

Chi-square statistic: 0.877
P-value: 0.928
Degrees of freedom: 4
Expected frequencies table:
There is no significant statistical evidence, We fail to reject null hypothesis

In [41]:
#  9. Dataset: Sample weights (in kg) of a new diet program: 70, 68, 72, 71, 69, 73,72, 74, 70, 71
#Questions:
#  a) Test the hypothesis that the mean weight after the diet program is equal to 70 kg at a 5% significance level.
#  b) Z-Scores

In [42]:
# a
from scipy import stats
import numpy as np

weights = [70, 68, 72, 71, 69, 73, 72, 74, 70, 71]

mu = 70

# One-sample t-test
t_stat, p_val = stats.ttest_1samp(weights, mu)

print("t-statistic:", t_stat)
print("p-value:", p_val)

if p_val < 0.05:
    print("Reject H₀: Mean is significantly different from 70 kg")
else:
    print("Fail to reject H₀: No significant difference from 70 kg")

t-statistic: 1.732050807568877
p-value: 0.11730680301423822
Fail to reject H₀: No significant difference from 70 kg

In [43]:
# b
# Calculate z-scores
z_scores = stats.zscore(weights)

print("Z-Scores:", z_scores)

Z-Scores: [-0.57735027 -1.73205081  0.57735027  0.         -1.15470054  1.15470054
  0.57735027  1.73205081 -0.57735027  0.        ]

In [44]:
# 10. Dataset: Annual salaries of employees (in $1000s): 40, 42, 45, 47, 50, 52, 55,57, 60, 62 Questions:
#  a) Calculate the z-scores for each salary.
#  b) Interpret the z-scores.
#  c) Normal Distribution

In [45]:
# a
from scipy import stats
import numpy as np

salaries = [40, 42, 45, 47, 50, 52, 55, 57, 60, 62]

# Calculate z-scores
z_scores = stats.zscore(salaries)

print("Z-scores:", z_scores)

Z-scores: [-1.54030809 -1.26025208 -0.84016805 -0.56011203 -0.14002801  0.14002801
  0.56011203  0.84016805  1.26025208  1.54030809]

In [46]:
# b
print('A z-score of 0 → the salary equals the mean.')
print('Positive z-score → salary is above the mean.')
print("Negative z-score → salary is below the mean.')")

A z-score of 0 → the salary equals the mean.
Positive z-score → salary is above the mean.
Negative z-score → salary is below the mean.')