<a href="https://colab.research.google.com/github/sreesanthrnair/My_Activity/blob/main/Condition_Statement_05_08_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## IF - Statement

In [ ]:
a=int(input("Enter your age: "))
if (a>=18):
 print("Eligible for votting! ")
#else:
 # print("Not Eligible for votting!")

Enter your age: 20
Eligible for votting!

## IF-Else   Statement

In [ ]:
a=int(input("Enter your age: "))
if (a>=18):
 print("Eligible for votting! ")
else:
  print("Not Eligible for votting!")

Enter your age: 12
Not Eligible for votting!

## IF-Elif  Statement

In [ ]:
num=int(input('Enter the mark : '))
if(num>=80):
 print('You have distinction !')
elif(num>=40):
  print('Sabhash Betta !')
elif(num<=39):
  print('Ahh Thenj')

Enter the mark : 39
Ahh Thenj

## IF-Elif-Else Statement

In [ ]:
num=int(input('Enter the mark : '))
if(num>=60):
 print('Senior Citizen!')
elif(num>=20):
  print('Adult !')
elif(num>=13):
  print('Teenage !')
else:
  print('Child !')

Enter the mark : 11
Child !

## Nested-IF Statement

In [ ]:
num=(input('Enter your name : '))
if len(num)>=10:
  print("Your have a long name!")
  #if len(num)<=10:
else:
  print('You have a short name !')

Enter your name : bdssjvsjvdjvjvkjfvkv
Your have a long name!

In [ ]:
time=(input('Enter your Time : '))
hours=int(time.split(':')[0])
mins=int(time.split(':')[1])
if(hours)>12 and (hours)<=23:
  print(f'The Hour is {hours-12}:{mins} PM')
elif(hours)==12:
  print(f'The Hours is {hours}:{mins} PM')
elif(hours)==00:
  print(f'The Hours is {hours+12}:{mins} AM')

Enter your Time : 12:02
The Hours is 12:2 PM

In [ ]:
#write a program is palindrome or not
num=input('Enter a string: ')
palin=num[::-1]
if(num==palin):
  print(f'The word is {num} palindrome !')
else:
  print(f'The word is {num} not a palindrome !')

Enter a string: sree
The word is sree not a palindrome !

In [ ]:
color=input('Enter your favorite color : ')
if(color=='red' or color=='green' or color=='blue'):
 print(f'Your favorite color {color} is a primary color')
else:
  print(f'Your favorite color {color} is not a primary color !')

Enter your favorite color : violet
Your favorite color violet is not a primary color !

In [ ]:
mfg=input('Enter the manufacturing date like this (dd/mm/yyyy) :')
date=int(mfg.split('/')[0])
month=int(mfg.split('/')[1])
year=int(mfg.split('/')[2])
cur_month=8
if(year!=2025 or month+6<cur_month):
  print('The product has expired !')
else:
  print('The product has\'nt expired')

Enter the manufacturing date like this (dd/mm/yyyy) :12/8/2024
The product has expired !

In [ ]:
num1=input('Enter the first number: ')
num2=input('Enter the second number: ')
num3=input('Enter the third number: ')
if(num1>num2 and num1>num3):
  print(f'{num1} is greater !')
elif(num2>num3 and num2>num1):
  print(f'{num2} is greater')
elif(num3>num1 and num3>num2):
  print(f'{num35} is greater')
else:
  print('errorr')

Enter the first number: 12
Enter the second number: 5464534
Enter the third number: 745455454545
745455454545 is greater

String Formating

In [ ]:
print('this is {} and this is {}'.format('a','b'))
print('This is {1} and this is {0}'.format('1','2'))
print(f'This is {"s"} and this is {7}')

this is a and this is b
This is 2 and this is 1
This is s and this is 7

In [ ]:
pi=3.14159625
print(f'pi contain {pi:.1f}')
print(f'pi contain {pi:.2f}')
print(f'pi contain {pi:.3f}')
print(f'pi contain {pi:.4f}')
print(f'pi contain {pi:.5f}')

pi contain 3.1
pi contain 3.14
pi contain 3.142
pi contain 3.1416
pi contain 3.14160

## Multivariable Assaignment

In [ ]:
name,age,location= 'nikhil',25,'Idukki'
print(name)
print(age)
print(location)

nikhil
25
Idukki

In [ ]:
day=input('Enter the day :')
days=['sunday','monday','tuesday','wednesday','thursday','friday','saturday']
if(day not in days):
  print('Invalid Day!')
else:
  if(day=='saturday' or day=='sunday'):
    print('Its a Holiday !')
  else:
    print('Its not a Holiday!')

Enter the daybirthday
Invalid Day!

In [ ]:
print('Hello','There',sep='---')

Hello---There

In [ ]:
print('One')
print('Two',end='--')
print('Three')

One
Two--Three

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
a = 54
print(type(a))
b = str (a)
print(b,type(b))

<class 'int'>
54 <class 'str'>

In [ ]:
integer_1 = 3
float_1 = 2.7
string_1 = "24"
list_1 = [1,2,3,4]
tuple_1 = (1,2,3,4,5)

In [ ]:
#int to string
print(type(str(integer_1)))
#int to float
print(type(float(integer_1)))
#string to int
print(type(int(string_1)))
#string to float
print(type(float(string_1)))
#float to string
print(type(str(float_1)))
#float to int
print(type(int(float_1)))

#list to tuple
print(type(tuple(list_1)))
#tuple to list
print(type(list(tuple_1)))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'list'>

In [ ]:

integer_2 = int(string_1)
type(integer_2)

int

In [ ]:
x = [1,2,3]
x.append(4)
print(x)

x.extend([5,6,7])
print(x)

x.remove(2)
print(x)

x.insert(0, 10)
print(x)

x.reverse()
print(x)

x.sort()
print(x)

e = x.pop(0)
print(e, x)

x.clear()
print(x)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]
[1, 3, 4, 5, 6, 7]
[10, 1, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 1, 10]
[1, 3, 4, 5, 6, 7, 10]
1 [3, 4, 5, 6, 7, 10]
[]

### Write a code to convert date format from dd/mm/yyyy to
### -mm-dd-yyyy
### -dd-mm-yyyy
### -yyyy-dd-mm

In [ ]:
date=input('Enter the date (dd/mm/yyyy)').split('/')
day=date[0]
month=date[1]
year=date[2]
print('-'.join([month,day,year]))
print('-'.join([day,month,year]))
print('|'.join([year,day,month]))
#.join() is used for joining String values

Enter the date (dd/mm/yyyy)09/12/2004
12-09-2004
09-12-2004
2004|09|12